include grading_schema

mixin detail-row(label, binding)
  tr
    td.label-row
      b= label
    td
      span!= '{{ ' + binding + ' }}'

mixin details-table
  h1.section-header Identity
  table.user-details.table.table-bordered.table-striped
    tbody
      +detail-row('First Name', 'dashboard.first_name')
      +detail-row('Last Name', 'dashboard.last_name')
      +detail-row('Login', 'dashboard.login')
      +detail-row('Category', 'dashboard.category')
      +detail-row('Candidate No.', 'dashboard.candidate_number')
      +detail-row('CID', 'dashboard.cid')
      +detail-row('Personal Tutor', 'dashboard.personal_tutor')

mixin profile-pic
  td.profile-picture-container(rowspan='7', width='120px')
    img#cc-identity-profile-image.profile-image(src='')

mixin other-link(text, uri, fa)
  li.list-group-item(class!=attributes.class)
    i.fa(class!=fa)
    a(href!=uri)= text

mixin other-links
  h1.section-header Other Links
  ul.list-group.other-links
    +other-link('Analytics', '#', 'fa-bar-chart-o')
    +other-link('Dept Grading Schema', '#', 'fa-key')
    +other-link('Documentation', '#', 'fa-book')
    +other-link('Late Submissions / Extensions', '#', 'fa-exclamation')
    +other-link('Lecture Notes', '#', 'fa-briefcase')
    +other-link('Projects Portal', '#', 'fa-lightbulb-o')
    +other-link('Special Activities', '#', 'fa-magic')

mixin list-anchor(val, text)
  li
    a(value!=val)= text

mixin exercises-nav
  .exercise-nav
    .row.top
      .term-selector.btn-group.buttons-radio(model="input.period"
        options="periodOptions",
        active-value!='adjustPeriod')
    .row.bottom
      button.btn.btn-default(ng-click!="gotoExercises()") Go!
      span.current-class.label
      .class-selector.btn-group.button-dropdown(model="input.klass", options="klassOptions", placeholder="Select Class")

.dashboard
  .row
    .col-md-8.col-sm-6
      +details-table()
    .col-md-4.col-sm-6
      +other-links()
  hr
  .row
    .col-md-12
      h1.section-header
        | Exercises
        +exercises-nav()
      h3 Due in next week...
      table.exercises-table.table.table-hover.wide_table.module_table.table-striped.table-bordered.hidden
        tr
          th.module Module
          th.id-name ID - Name
          th.small Due On
          th.small Spec Link
          th.small Given link
        tr.hide
          td.id(style='text-align : left') NA
          td.name(style='text-align : left') NA
          td.due NA
          td.spec NA
          td.given NA
