mixin li-icon(icon, state, msg)
  li(ui-sref!=state, ui-sref-active='active')
    a
      i.fa(class!=icon)
      span(class='nav-text-default', ui-sref!=state, 
           ui-sref-active='nav-text-active')= msg

mixin extra-links
  li.visible-lg.visible-md
    a#nav-teachdb(href='https://teachdb.doc.ic.ac.uk/db/') Teach DB
  li.visible-lg
    a#nav-internalreg(href='https://dbc.doc.ic.ac.uk/internalreg') Module Registration
  li.visible-lg
    a(ui-sref='audit') Security

mixin user-links
  li.dropdown(ng-class='{active: userState}')
    a.dropdown-toggle.user-link.nav-left-divided(data-toggle='dropdown')
      | {{ user.fname }}
      i.fa.fa-user
    ul.dropdown-menu
      li(ui-sref='app.profile' ui-sref-active='active')
        a Profile
      li
        a Settings
      li
        a(auth-logout) Logout
      li.divider
      li
        a Report Issue
      li
        a(href='http://github.com/LawrenceJones/grep-doc', target='_blank') Project GitHub

mixin span-state(state, text)
  span(class='nav-text-default', ui-sref!=state
       ui-sref-active='nav-text-active')= text

mixin course-selector
  li.dropdown.course-selector(ng-class='{active:courseState}')
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-book
      //- State names, hidden by default, displayed upon switch
      span.hidden-md.hidden-sm(ng-repeat='course in registeredCourses')
        +span-state('app.courses.view({cid: course.cid})', 
                    "{{course.cid + ': ' + course.name}}")
      +span-state('app.courses', 'All Courses')
      span.caret
    ul.dropdown-menu
      li.dropdown-header
        | Subscribed courses this period
      li(ng-repeat='course in registeredCourses', 
         ui-sref='app.courses.view({cid: course.cid})', ui-sref-active='active')
        a {{ course.cid + ': ' + course.name }}
      li.divider
      li(ui-sref='app.courses', ui-sref-active='active')
        a All Courses

mixin year-selector
  li.nav-left-divided.dropdown(ng-controller='YearCtrl')
    a.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-history
    ul.dropdown-menu
      li.dropdown-header
        | Academic year
      li(ng-repeat='year in availableYears | numericalSort | reverse'
         ng-click='changeYear(year)'
         ng-class='{active: AppState.currentYear == year}')
        a {{ year }}


nav.navbar.navbar-default.navbar-fixed-top(role='navigation' ng-controller='NavCtrl')
  .container
    .container-fluid
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='#nav-links')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.site-logo(ui-sref='app.dashboard') 
          i.fa.fa-terminal
          | grep doc
        span#cc-version
      .collapse.navbar-collapse#nav-links
        ul.nav.navbar-right.navbar-nav
          +course-selector()
          +li-icon('fa-calendar', 'app.timetable', 'Timetable')
          +li-icon('fa-trophy', 'app.grades', 'Grades')
          +li-icon('fa-comment', 'app.discussions', 'Discussions')
          +year-selector()
          +user-links()


